<div class="row hidden-md-up">
    {% for video in videos %}
        <div class="col-md-4">
            <div class="card m-3">
                <iframe src="{{ video.path }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title mb-1">{{ video.title }}</h5>
                    <a href="{% url 'account' user_id=video.user.id %}">
                        <p class="card-text">{{ video.user.username }}</p>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
